URxvt.scrollstyle:      plain
URxvt.secondaryScroll:  true

! some colours ----

*.background:       #000000
! URxvt.foreground:       gray90
*.foreground:       #e8e9ca
 
*color0:	#222222
*color1:	#8b3e2f
*color2:	#526f33
*color3:	#665847
*color4:	#4a708b
*color5:	#7a378b
*color6:	#528b8b
*color7:	#999999
 
*color8:	#4c4c4c
*color9:	#d75f00
*color10:	#cee318
*color11:	#eee685
*color12:	#9ac0cd
*color13:	#9f79ee
*color14:	#79cdcd
*color15:	#e8e9ca

! make underline lines look different ----

!URxvt.underlineColor:   light_gray

! geometry etc settings ---

! URxvt.geometry:         154x36
URxvt.loginShell:       false
URxvt.meta:             ignore
URxvt.utmpInhibit:      true

! Large scrollback buffer ----

URxvt.saveLines:        8192

! Use visual bell, STOP THE INSANITY! ----

URxvt.visualBell:       true

! don t hack me, brah... ----

URxvt.insecure:         true

! Font settings ----

! URxvt.font:		xft:Noto Sans Mono:size=9
URxvt.font:		xft:monospace:size=11:autohint=true
! *font:		-misc-dejavu sans mono-medium-r-normal--0-90-0-0-m-0-iso10646-1
! URxvt.boldFont:         -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso8859-15
! URxvt.italicFont:       xft:DejaVu Sans Mono:italic:autohint=true
! URxvt.boldItalicFont:   xft:DejaVu Sans Mono:bold:italic:autohint=true
